{% extends "/views/base.twig" %}



   {% block main %}
<div class="grid">
    <article>
        <h2>Discover the Brachiosaurus</h2>

        <div class="">
            {{ dino.description }}
        </div>

        <div class="card">
            <img src={{ dino.avatar }} alt="" />
            <dl>
                <dt>Name</dt>
                <dd>{{ dino.name }}</dd>
                <dt>Name meaning</dt>
                <dd>{{ dino.name_meaning }}</dd>
                <dt>Diet</dt>
                <dd>{{ dino.diet }}</dd>
                <dt>Height</dt>
                <dd>{{ dino.height }}</dd>
                <dt>Length</dt>
                <dd>{{ dino.length }}</dd>
                <dt>Weight</dt>
                <dd>{{ dino.weight }}</dd>
            </dl>
        </div>
    </article>

    <aside>
        <h3>Top rated dinosaurs</h3>

    {% for dino in trois_dinos %}
            <a href={{ dino.uri }}>
                <figure>
                    <img src={{ dino.avatar }} alt="" />
                    <figcaption>Discover the {{ dino.name }}</figcaption>
                </figure>
            </a>
       {% endfor %}
    </aside>
</div>
{% endblock %}
