{% extends "/views/base.twig" %}



   {% block main %}

<section>
    <h2>The world of Jurassic Park</h2>

    

    {% for dino in dinos %}
        <a href="/dinosaur/{{ dino.slug }}">
            <figure>
                <img src={{ dino.avatar }} alt="" />
                <figcaption>{{ dino.name }}</figcaption>
            </figure>
        </a>
    {% endfor %}
</section>

{% endblock %}




